.movies-container {
    background: white;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin: 1rem 0rem;
    padding: 1rem 0rem;
}

.movies-header {
    padding: 0 1rem;
    font-weight: 800;
    font-size: 1.2rem;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
}

.btn-load-more {
    min-width: 5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    opacity: 1;
    text-decoration: none;
    border: 1px solid hsl(0, 0%, 95%);
    background: #678fcb;
    color: hsl(0, 0%, 95%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    border-radius: 7px;
}

.btn-load-more:hover {
    border: 1px solid #a1c8de;
    background: white;
    color: #a1c8de;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn-load-more:active {
    border: 1px solid #678fcb;
    background: hsl(0, 0%, 95%);
    color: #678fcb;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.movies-container-footer {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
